@charset "utf-8";
/* CSS Document */
*,html { margin:0; padding:0; font-family:"Open Sans", sans-serif;font-weight:300;font-size:13px;line-height:170%}
img {border:0; cursor:pointer}
a {text-decoration:none;cursor:pointer; color:#113a19}
a:hover {text-decoration:none;color:#ed1b24}
b, strong{
	font-weight:bold;
}
em, i{
	font-style:italic
}

#pagewrap { display:block; width:100%;border-top: 6px solid #24592b; min-width:1000px}
#mainpage { width:1000px; margin:0 auto; border:0px solid #000}
.header { position:relative; width:100%; margin:0; padding:0}
.header .headerL { 
	display: inline;
    float: left;
    margin-left:0 10px;
	padding-top:10px;
    position: relative;
	width:200px}
.header .headersologan { position:absolute; left:200px; top:10px; z-index:2;}	
.header .headerflag { position:absolute; right:10px; top:5px; z-index:2;}
.header .headerflag img { float:right; padding-left:10px}
.header .headerS { position:absolute; right:10px; top:40px; z-index:2;}
.header .headerS .searchinput { width:150px; height:19px;}
.header .headerS img { float:right; padding-left:10px}

.header .headerR  { width:800px; display:inline; float:right; position:absolute; top:-6px; z-index:1}	
.header .headerR ul {float:right}
.header .headerR li {  
	display: block;
    float: left;
    list-style: none outside none;
    margin: 0;}
.header .headerR li a {
	border-top: 6px solid #24592b;
    color: #24592b;
    display: block;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 35px;
    margin-left: 1px;
    padding-bottom: 12px;
    padding-top: 65px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 110px;}
.header .headerR a.active { border-top:6px solid #ed1b24; color:#ed1b24}
.boxline { 
	width:100%;
	display: inline;
	float: left;
	margin:0 auto;
	padding:10px 0;
	position: relative;
	text-align:center
	}
.maincontent { display:block;min-height:150px}
.maincontent .colabout { width:100%; float:left}
.maincontent .colhome { width:333px; float:left}
.maincontent .colabout h2, .colhome h2, .serviceR h2, .maincontact h2 {
	color:#113a19;
    font-size: 16px;
    line-height: 120%;
    margin-bottom: 10px;}
.maincontact h3 {
	color:#ed1b24;
    font-size: 14px;
    line-height: 120%;
    margin-bottom: 5px;}	
.maincontent .colabout h3 { color:#999}	
.maincontent .colabout img { float:none}	
.maincontent .colhome ul { width:320px}	
.maincontent .colabout li, .colhome li {
    clear: both;
    display: inline-block;
    list-style: none outside none;
    margin-bottom: 10px;
    margin-left: 0;
    width: 95%;}
.maincontent .colhomeimg { background:url(../images/borimage.png) no-repeat; width:320px; height:140px; z-index:2}	
.maincontent .colhomeimg img { z-index:0; max-width:320px; max-height:140px;}	

.listtype { width:90%;  margin:0 auto; z-index:3; position:relative}
.listtype li {display:inline; padding:5px 10px; float:left; font-weight:bold; color:#215a31}
.listtype li span { font-weight:normal; color:#ef1c25}
.listtype li a.active {color:#ef1c25}


.maincontact,.mainservice { margin:0 auto; width:100%}	
.maincontact img { width:40%; float:left; padding-right:10px}
.maincontact .contactform  ul { margin:0 auto}
.maincontact .contactform li { display:inherit; padding-bottom:4px}
.maincontact .contactform li h4 { width:100px; text-align:right; float:left; padding-right:4px}
.maincontact .contactform li span input, textarea { width:250px; font-size:12px}

.mainservice .serviceL { width:30%; float:left}
.mainservice .serviceL li { display:inherit; padding:0 0 10px 10px; font-weight:bold; font-size:14px}
.mainservice .serviceR { width:70%; position:relative; float:right}
.mainservice .serviceR img { width:90%; margin:0 auto}

.maintext { float:none; border:none; font-size:12px; text-align:justify}
.maintext li { display:inherit}
.maintext h4 { font-size:14px}
.btn_button { width:50px; font-size:12px}
.footer {
    border-top: 0 solid #555555;
    color: #000;
    height: auto;
    padding-bottom: 0;
}
.footer .footerin {
	padding-top:10px;
	margin:0 auto;
    position: relative;
    width: 1000px;
}
.footer .footerin h2 { font-size:14px; color:#ed1b24}
.footer .footerin h3 { font-size:12px; font-weight:normal; padding-top:5px}


.details { display:block; position:relative;}
.details ul {font-size:12px; color:#113a19; font-weight:bold;}
.details li {font-size:12px; color:#000; font-weight:normal; display:inherit; padding-top:3px}
.details li span { position:inherit;left:365px}
.details li span a { color:#000}
.details li span a:hover { color:#16527c}
.details img { float:left; border:1px solid #acacac; padding:4px; margin-right:8px}
.details h4 {font-size:12px; color:#113a19; font-weight:bold; border-bottom:1px dashed #16527c; padding-bottom:5px}
.details h4 span { float:right; color:#f00; font-size:11px}
.details h3 {font-size:12px; color:#666; font-weight:normal; padding-top:5px}
.details h5 {font-size:11px; color:#666; font-weight:normal; padding-top:5px}
.detailscon { height:100%; width:90%;  display: auto ; margin:0 auto}
.detailscon table,.detailscon img { max-width:90%; clear:both; height:auto;}


.page_item_color,.paging {
color:#113a19;
font-family:Arial;
font-size:14px;
font-weight:bold;
border:1px solid #acacac; padding:5px 7px; background:#fff
}
.current_page {
color:#ed1b24;
font-family:Arial;
font-size:14px;
font-weight:bold;
border:1px solid #acacac; padding:5px 7px; background:#ccc
}
/*****************************************************
  OVERLAY BOXES */
.mainbox  { width:960px; margin:0 auto}
.mainbox h2 { font-size:18px;color:#225a2d}
.overlay-boxproj  {	
	width: 310px; float:left; margin-right:10px;height: 180px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	cursor:pointer;
	background-color: #fff;
	background-position: center;
	background-repeat: no-repeat;
	margin-bottom: 20px;
	overflow: hidden;
	position: relative;
	box-shadow:inset 0 0 40px rgba( 0, 0, 0, 0.3);
	-webkit-box-shadow:inset 0 0 40px rgba( 0, 0, 0, 0.3);
	-moz-box-shadow:inset 0 0 40px rgba( 0, 0, 0, 0.3);
}
.box-captionproj {
	width: 310px;
	position: absolute;
	color: #fff;
	overflow: hidden;
	bottom: 0px;
	right: 0px;
	z-index: 1;	
}


.overlay-list  {	
	width: 230px; float:left; margin-right:10px;height: 180px;
	border-radius: 8px;
	cursor:pointer;
	background-color: #fff;
	background-position: center;
	background-repeat: no-repeat;
	margin-bottom: 20px;
	overflow: hidden;
	position: relative;
}
.box-captionlist {
	width: 230px;
	position: absolute;
	color: #fff;
	overflow: hidden;
	bottom: 0px;
	right: 0px;
	z-index: 1;	
}


.overlay-box, .overlaybox .box-caption, .overlay-box .overlay-link {
	width: 230px; float:left; margin-right:10px
}
.overlay-box, .overlay-box .overlay-link {
	height: 180px;
}
 .box-caption {
	width: 230px;
}
.overlay-half.overlay-box.caption .box-caption {
	top: 144px;
}
.overlay-full.overlay-box.caption .box-caption {
	top: 120px;
}
.overlay-half-two-line.overlay-box.caption .box-caption {
	top: 124px;
}
/* small box */
.overlay-box {
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	cursor:pointer;
	background-color: #fff;
	background-position: center;
	background-repeat: no-repeat;
	margin-bottom: 20px;
	overflow: hidden;
	position: relative;
	box-shadow:inset 0 0 40px rgba( 0, 0, 0, 0.3);
	-webkit-box-shadow:inset 0 0 40px rgba( 0, 0, 0, 0.3);
	-moz-box-shadow:inset 0 0 40px rgba( 0, 0, 0, 0.3);
}
.box-caption {
	position: absolute;
	color: #fff;
	overflow: hidden;
	bottom: 0px;
	right: 0px;
	z-index: 1;
}
.box-caption-bg {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	background-color: #225a2d;
	opacity: 0.8; /* CSS3 */
	MozOpacity: 0.8; /* FF */
	KhtmlOpacity: 0.8; /* Safari */
	filter: alpha(opacity = 80); /* IE */
	z-index: 1;
}
.box-caption-bglist {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	background-color: #999;
	opacity: 0.8; /* CSS3 */
	MozOpacity: 0.8; /* FF */
	KhtmlOpacity: 0.8; /* Safari */
	filter: alpha(opacity = 80); /* IE */
	z-index: 1;
}
.overlay-box .box-caption.color-bg {
	min-height: 70px;
}
/* shared overlay box styles */
.box-captionproj .title, .box-caption .title,.box-captionlist h4.title {
	display: block;
	color: #fff;
	position: relative;
	z-index: 2;
}

.box-captionproj h4.title,.box-caption h4.title,.box-captionlist h4.title {
	display: block;
	margin: 10px;
	margin-top: 5px;
	margin-bottom: 0;
	line-height: 120%;
	text-transform:capitalize
}
p.overlay-desc {
	color: #fcfcfc;
	margin: 15px 10px 8px;
	position: relative;
	z-index: 2;
	font-size: 11px;
}
.overlay-link {
    background: url("../images/site/bg-alpha.gif") repeat scroll left top rgba(0, 0, 0, 0);
    bottom: 0;
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 5;
}
.overlay-link:hover {
    text-decoration: none;
}













/*Clear fix*/
.clear {clear: both;}
.clearline  {clear: both; height:1px; border-top:1px dotted #acacac; padding:3px 0}
.clearpadding {
	padding-top:10px;	
	clear: both;
	display: block;
	content: ".";
	height: 10px;
	width:auto;
	visibility: hidden;}

.clearpadding5 {
	padding-top:5px;	
	clear: both;
	display: block;
	content: ".";
	height: 5px;
	width:auto;
	visibility: hidden;}

.clearpadding2 {
	padding-top:2px;	
	clear: both;
	height: 2px;
	width:auto;
	border-bottom:1px dotted #acacac}

.clearfix:after {
	clear: both;
	display: block;
	content: ".";
	height: 0;
	visibility: hidden;
}

* html > body .clearfix {
	width: 100%;
	display: block;
}

* html .clearfix {
	height: 1%;
}

/* Firefox Scrollbar Hack - Do not remove */

html {
	margin-bottom: 1px;
	height: 100%!important;
	height: auto;
}

/*** Contact ****/
#contact_left{
	float:left;
	width:600px;
}
.maincontact .contactform { width:380px; float:right; text-align:right}
input, textarea{
	outline:none;
	padding:0 5px;
}
textarea{
	width:252px;
}
input[type="button"]{
	height:30px;
	line-height:30px;
	width:264px !important;
}


/*** Free Course ***/
.floatLeft{
	float:left;
}
.floatRight{
	float:right;
}
#free_course{
	position:fixed;
	z-index:99999;
	top:60px;
	right:-338px;
	-webkit-transition: all .3s ease; 
	-moz-transition: all .3s ease; 
	-0-transition: all .3s ease; 
	transition: all .3s ease; 
}
#free_course.activated{
	right:10px;
}
#headline{
	position:relative;
	width:40px;
	height:290px;
	top:35px;
	cursor:pointer;
	background:url(../images/btn_course.png) no-repeat;
	text-indent:-9999px
}
#course_content_wrapper{
	border:4px solid #24592B;
	background:#fff;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
}
#course_content{
	padding:20px;
	min-height:300px;
}
.row{
	margin:10px 0;
}
.seperator{
	border-top:4px solid #24592B;
	padding:10px 20px;
}
.row input[type="text"], .row textarea{
	border:1px solid #ddd;
	width:190px;
	padding:0 15px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-webkit-box-shadow: inset 0px 0px 5px 0px rgba(50, 50, 50, 0.1);
	-moz-box-shadow:    inset 0px 0px 5px 0px rgba(50, 50, 50, 0.1);
	box-shadow:         inset 0px 0px 5px 0px rgba(50, 50, 50, 0.1);
}
.row input[type="text"]{
	height:35px;
	line-height:35px;
}
.row textarea{
	padding:15px;
}
.row input[type="text"]:focus, .row textarea:focus{
	outline:none;
}
.row textarea{
	height:80px;
}
.row input[type="submit"]{
	margin-top:10px;
	background:#24592B;
	height:35px;
	line-height:35px;
	padding:0 20px;
	border:0 none;
	color:#fff;
	text-decoration:none;
	text-transform:uppercase;
	cursor:pointer;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}