@charset "utf-8";
/* CSS Document */
#Popup_right {
    bottom: 0;
    color: #666666;
    height: 300px;
    position: fixed;
    right: 0;
	border-radius:8px 0 0 0;
	-moz-border-radius:8px 0 0 0;
	-webkit-border-radius:8px 0 0 0;
    z-index:99999;
	background:#fff
}
#PopupRma {
    background: url("../images/fullborder_bg.png") no-repeat scroll left top transparent;
    height: 300px;
    padding-left: 7px;
    z-index:99999;
}
#PopupRLi {
    color: #FFFFFF;
    display: block;
    height: 20px;
    line-height: 20px;
    width: 315px;
    z-index:99999;
}
#PopupRLi a {
    color: #FFFFFF;
    text-decoration: none;
}

#PopupRS {
    float: right;
    height: 15px;
    list-style: none outside none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
#PopupRS li {
    display: inline;
}
#PopupRS li a {
    background-image: url("../images/button.gif");
    background-repeat: no-repeat;
    float: left;
    height: 0;
    overflow: hidden;
    padding-top: 15px;
    width: 30px;
}
#PopupRS li a.close {
    background-position: 0 0;
}
#PopupRS li a.close:hover {
    background-position: 0 -15px;
}
#PopupRS li a.min {
    background-position: -30px 0;
}
#PopupRS li a.min:hover {
    background-position: -30px -15px;
}
#PopupRS li a.max {
    background-position: -60px 0;
}
#PopupRS li a.max:hover {
    background-position: -60px -15px;
}
.rightcontent {color:#000; padding:20px}
.rightcontent ul { padding:5px 0 8px 15px; }
.rightcontent li { display:inherit;font-size:15px; line-height:18px}
.rightcontent li span { font-weight:bold;font-size:14px; color:#113a19}
.rightcontent li.padding { padding-left:62px}
